* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial;
}

#header1 {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  z-index: 999;
}

.logo img {
  width: 77%;
  padding: 18px;
  margin-top: 6px;
}

#head-ul-li {
  width: 100%;
  display: flex;
}

.head-a-e-o-r-g-c {
  width: 100%;
  font-weight: 700;
  display: flex;
  margin-top: 50px;
  gap: 20px;
  font-size: 15px;
  list-style: none;
}

.head-a-e-o-r-g-c li a {
  color: white;
}

.head-a-e-o-r-g-c a {
  text-decoration: none;
}

.fa-solid {
  color: plum;
}

.head-a-e-o-r-g-c li a:hover {
  border-bottom: 2px solid burlywood;
  color: burlywood;
}

#search-bar {
  width: 100%;
  margin-left: 12%;
  font-size: 18px;
  margin-top: 50px;
  color: white;
}

.search-box input {
  text-align: center;
  margin-left: 45%;
  border-left: none;
  border-right: none;
  border-top: none;
  margin-top: 3%;
  margin-bottom: 10%;
  background: none;
}

.search-box {
  display: none;
  background: rgb(73, 11, 131);
}

#search-bar:hover .search-box {
  display: block;
  justify-content: center;
  margin-left: -712%;
  margin-right: 36%;
  transition: 4s;
}

.btnabout {
  margin-top: 2px;
  border: none;
  font-size: 15px;
  cursor: pointer;
}

.dropdown-options-1 {
  width: 122%;
  margin-right: 12%;
  display: none;
}

.dropdown-start-1 {
  margin-top: 10%;
  padding-top: 10%;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 250px);
  background-color: rgb(73, 11, 131);
  border-radius: 5px;
  box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.4);
}

.dropdown-1:hover .dropdown-options-1 {
  display: block;
  margin-left: -11%;
  margin-right: 40px;
}

.dropdown-options-1 a {
  display: block;
  color: #000000;
  padding: 5px;
  text-decoration: none;
  padding: 20px 40px;
}

.dropdown-opt {
  width: 100%;
  padding: 25px;
  margin-bottom: 30%;
}

.dropdown-opt .p-1 {
  color: black;
}

.dropdown-opt .p-2 {
  color: white;
}

.btnEXPLORE {
  margin-top: 2px;
  border: none;
  font-size: 15px;
  cursor: pointer;
}

.dropdown-options-2 {
  width: 122%;
  margin-right: 12%;
  display: none;
}

.dropdown-start-2 {
  margin-top: 10%;
  padding-top: 10%;
  display: grid;
  grid-template-columns: repeat(3, 250px);
  overflow: auto;
  background-color: rgb(73, 11, 131);
  border-radius: 5px;
  box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.4);
}

.dropdown-2:hover .dropdown-options-2 {
  display: block;
  margin-left: -23%;
  margin-right: 285px;
  text-align: center;
}

.dropdown-options-2 a {
  display: block;
  color: #000000;
  padding: 5px;
  text-decoration: none;
  padding: 20px 40px;
}

.dropdown-opt {
  width: 100%;
  padding: 25px;
  margin-bottom: 30%;
}

.dropdown-opt .p-1 {
  color: black;
}

.dropdown-opt .p-2 {
  color: white;
}

.btnOUR-PRODUCTS {
  margin-top: 2px;
  border: none;
  font-size: 15px;
  cursor: pointer;
  transition: 1s ease;
}

.dropdown-options-3 {
  margin-right: 15%;
  display: none;
}

.dropdown-start-3 {
  margin-top: 25%;
  padding-top: 20%;
  display: grid;
  grid-template-columns: repeat(5, 200px);
  overflow: auto;
  background-color: rgb(73, 11, 131);
  border-radius: 5px;
  box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.4);
}

.dropdown-3:hover .dropdown-options-3 {
  display: block;
  margin-left: -42%;
  padding-left: 20px;
}

.dropdown-opt {
  width: 100%;
  padding: 25px;
}

.dropdown-opt .p-1 {
  color: black;
}

.dropdown-opt .p-2 {
  color: white;
}

#header1 .menu {
  font-size: 2.5em;
  display: none;
}

#check1 {
  display: none;
}

#div1text1 {
  margin-left: 8%;
  border: 2px solid white;
}

h1 {
  font-size: 450%;
  margin-top: -39%;
  font-weight: 700;
  color: rgba(245, 242, 80, 0.977);
}

p {
  color: white;
}

.btn1 {
  width: 20%;
  height: 7vh;
  position: relative;
  margin-top: 30px;
  background: yellow;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.btn1 p {
  color: rgb(73, 11, 128);
  text-align: center;
  padding: 9px;
  font-weight: 600;
  font-size: 19px;
}

.btn1:hover {
  transform: scale(1.2);
}

#div2 {
  width: 100%;
}

.div2-h {
  padding-top: 65px;
  padding-bottom: 20px;
  color: rgb(73, 11, 128);
  font-size: 330%;
  text-align: center;
}

.div2text1 {
  color: black;
  font-size: 16px;
  text-align: center;
}

.div2text2 {
  color: black;
  padding-top: 4px;
  text-align: center;
  padding-bottom: 50px;
}

#div3scroll1 {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, 290px);
  justify-content: center;
}

.scroll1 {
  width: 100%;
  height: 65vh;
  border-radius: 20px;
  margin-bottom: 30%;
  background: rgb(84, 13, 146);
  text-align: center;
}

.scroll1 img {
  width: 100%;
  height: 35vh;
  padding: 20px;
  margin-top: 20px;
  border-radius: 20px;
}

.scroll1 h2 {
  width: 100%;
  font-size: 20px;
  margin-top: -8px;
}

.scroll1 P {
  width: 140PX;
  border-radius: 20PX;
  background: burlywood;
  color: rgb(73, 11, 128);
  font-size: 12PX;
  margin-top: 15PX;
  margin-left: 20PX;
}

.scroll1:hover {
  transform: scale(1.1);
  transition: 1s;
}

#div4 {
  background: rgb(73, 11, 128);
  width: 100%;
  display: flex;
}

#div4 img {
  width: 50%;
}

.div4-h {
  width: 90%;
  color: white;
  margin-left: 1%;
  padding: 10px;
  margin-top: 60px;
  font-size: xx-large;
}

.div4-p {
  width: 1000px;
  color: black;
  margin-top: 25%;
  font-size: 20px;
}

#div4 img:hover {
  transform: scale(0.9);
}

#div5 {
  background: rgb(73, 11, 128);
  width: 100%;
  display: flex;
}

#div5 img {
  width: 50%;
  margin-top: 4px;
}

.div5-h {
  width: 100%;
  font-size: xx-large;
  text-align: center;
  margin-top: 10%;
}

.div5-p {
  width: 100%;
  font-size: small;
  margin-top: 15%;
}

#div5 img:hover {
  transform: scale(0.9);
}

#div6bk {
  width: 100%;
}

#div6bk img {
  width: 100%;
}

.div6bk-h {
  width: 100%;
  text-align: center;
  margin-top: -35%;
  font-size: 20px;
}

.div6bk-h2 {
  width: 100%;
  font-size: 45px;
  margin-top: 4%;
  text-align: center;
}

.div6bk-p {
  width: 100%;
  font-size: 18px;
  margin-top: 3%;
  text-align: center;
}

.div6btn {
  width: 180px;
  text-align: center;
  margin-top: 6%;
  margin-left: 42%;
  background: gold;
  border-radius: 20px;
  font-weight: 700;
  padding: 5px;
  border: 2px solid beige;
  font-size: 20px;
  position: relative;
}

.div6btn:hover {
  transform: scale(1.2);
}

#div7 {
  width: 100%;
  height: 80vh;
  display: flex;
  background: rgb(75, 10, 131);
}

#div7 img {
  width: 30%;
  margin-top: 2%;
  margin-left: 7%;
}

#div7 .div7-2 {
  width: 100%;
  margin-left: 46%;
  margin-top: 16%;
}

.div7p1text {
  text-align: center;
  margin-left: 5%;
  font-size: 40px;
  font-weight: 700;
  margin-top: -28%;
}

.div7p2text {
  text-align: center;
  margin-left: 5%;
  margin-top: 40px;
}

.div7p3-btn {
  width: 10%;
  margin-left: 45%;
  text-align: center;
  background: rgb(248, 180, 32);
  margin-top: 60px;
  font-size: x-large;
  border-radius: 20px;
  padding: 5px;
  font-weight: 700;
  margin-bottom: 20px;
}

.div7p3-btn:hover {
  transform: scale(1.2);
}

#div8v1 {
  width: 100%;
}

#div8v1 video {
  width: 100%;
}

#div9text2 {
  width: 100%;
}

#div9text2 img {
  width: 10%;
  height: 20vh;
  margin-top: -10%;
  margin-left: 15%;
}

.div9htext {
  padding-top: 65px;
  padding-bottom: 20px;
  font-size: 330%;
  text-align: center;
}

.div9text2 {
  color: black;
  font-size: 16px;
  text-align: center;
}

.div9text2 {
  padding-top: 4px;
  text-align: center;
  padding-bottom: 50px;
}

#div9scroll2 {
  width: 100%;
  height: 20vh;
  display: grid;
  margin-top: 40px;
  grid-template-columns: repeat(auto-fill, 290px);
  justify-content: center;
}

.scroll2 {
  width: 100%;
  height: 45vh;
  border-radius: 22px;
  background: rgb(73, 11, 131);
  text-align: center;
}

.scroll2 img {
  width: 100%;
  height: 100%;
  margin-top: 0;
  padding: 0;
  border-radius: 20px;
}

.scroll2:hover {
  transform: scale(1.1);
  transition: 0.8s;
}

#div10 {
  width: 100%;
}

#div10 img {
  width: 30%;
  z-index: 1111;
  position: relative;
  margin-left: 70%;
  margin-top: 18%;
}

#div11img-1 {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 45%);
  padding: 20px;
  gap: 5%;
}

#div11img-1 img {
  width: 100%;
  border-radius: 4%;
  margin-top: -40%;
}

.div11img-2 {
  width: 100%;
  margin-top: 45px;
}

#div11img-1 img:hover {
  transform: scaleY(1.1);
  transition: 1s;
}

#div13img-1 {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 45%);
  padding: 20px;
  gap: 5%;
  margin-top: 18%;
}

#div13img-1 img {
  width: 100%;
  border-radius: 4%;
  margin-top: -40%;
}

#div13img-1 img:hover {
  transform: scaleY(1.1);
}

.div13img-2 {
  width: 100%;
  margin-top: 45px;
}

.div13img-2:hover {
  transform: scaleY(1.1);
}

#div14 {
  width: 100%;
}

.div14-h2 {
  width: 100%;
  padding-top: 65px;
  padding-bottom: 20px;
  color: black;
  font-size: 330%;
  text-align: center;
}

.div14-p {
  color: #000;
  text-align: center;
}

#div16htext {
  width: 100%;
}

.div16htext {
  padding-top: 65px;
  padding-bottom: 20px;
  font-size: 330%;
  text-align: center;
}

#div16scroll {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, 290px);
  justify-content: center;
}

.scroll-3 {
  width: 100%;
  height: 65vh;
  border-radius: 20px;
  margin-bottom: 30%;
  background: rgb(73, 11, 131);
  text-align: center;
}

.scroll-3 img {
  width: 100%;
  height: 35vh;
  border-radius: 20px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.div16scroll-h2 {
  width: 100%;
  font-size: 20px;
  margin-top: 15px;
}

.scroll-3:hover {
  transform: scale(1.1);
  transition: 1s;
}

#div17 {
  width: 100%;
  height: 50vh;
  background: rgb(73, 11, 131);
}

#div17 img {
  width: 20%;
  margin-left: 75%;
}

#div18 {
  width: 100%;
}

#div18 img {
  width: 30%;
  margin-top: 40px;
  margin-bottom: 45px;
}

#div19 {
  width: 100%;
  display: flex;
  justify-content: end;
  gap: 50px;
  margin-top: -100px;
  font-size: 30px;
  margin-bottom: 7%;
}

#foot {
  width: 100%;
  display: flex;
}

.footp {
  width: 100%;
  margin-top: 22px;
  color: black;
}

.foot-li {
  width: 100%;
  display: flex;
  margin-top: 5px;
  padding: 20px;
}

.foot-li-stmt {
  width: 85px;
  margin-left: 50px;
  list-style: none;
  font-size: 62%;
}

.foot-li-stmt a {
  width: 100%;
  color: rgb(73, 11, 128);
  text-decoration: none;
}

.foot-li-stmt a:hover {
  border-bottom: 2px solid rgb(177, 41, 177);
}

#foot-li-1 {
  padding: 20px;
  width: 100%;
  display: flex;
}

.foot-li-stmt-2 {
  list-style: none;
  margin-left: 20px;
}

.foot-li-stmt-2 a {
  color: rgb(73, 11, 128);
  text-decoration: none;
  font-size: 62%;
}

.foot-li-stmt-2 a:hover {
  border-bottom: 2px solid rgb(177, 41, 177);
}

@media (max-width: 426px) {
  #check1 {
    display: block;
    z-index: 999999;
  }
  #check1:checked ~ #header1 {
    display: block;
    left: 0;
    transition: left 1s;
  }
  #head-ul-li {
    display: none;
  }
  #video1 {
    position: relative;
    width: 300%;
  }
  #div1text1 {
    position: relative;
  }
  h1 {
    display: block;
    margin-top: -115%;
  }
  .div2-h {
    margin-left: 118%;
  }
  .div2text1 {
    margin-left: 135%;
  }
  .div2text2 {
    margin-left: 135%;
  }
  #div4 {
    width: 295%;
    margin-top: -12%;
    margin-left: 3px;
  }
  #div5 {
    width: 295%;
    margin-left: 3px;
  }
  #div6bk {
    width: 295%;
    margin-top: 2%;
    margin-bottom: 4%;
    margin-left: 3px;
  }
  .div6bk-p {
    font-size: 80%;
  }
  #div7 {
    width: 295%;
  }
  .div7p1text {
    margin-left: 148%;
    margin-bottom: -2%;
  }
  .div7p2text {
    margin-left: 150%;
    margin-top: -140%;
  }
  .div7p3-btn {
    margin-left: 150%;
    margin-top: 42px;
    width: 20%;
  }
  #div8v1 video {
    width: 295%;
    margin-top: 3%;
  }
  #div9text2 {
    margin-left: 118%;
  }
  #div10 {
    width: 295%;
    margin-top: 99%;
  }
  #div11img-1 {
    width: 292%;
  }
  #div13img-1 {
    margin-top: 80%;
    width: 292%;
  }
  .div14-h2 {
    margin-top: 20%;
    margin-left: 95%;
  }
  .div14-p {
    margin-left: 140%;
  }
  #div16htext {
    margin-left: 100%;
  }
  #div17 {
    width: 293%;
  }
  #div17 img {
    margin: 10%;
    margin-left: 43%;
  }
  #div19 {
    justify-content: center;
    margin-left: 195%;
  }
  #foot {
    width: 100%;
    margin-left: 70%;
  }
  #footp {
    width: 100%;
    margin-left: 30%;
  }
  #foot-li {
    width: 100%;
  }
}/*# sourceMappingURL=style.css.map */