*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial;
   }
//    body{
//     background:url();
//    }
#header1{
   width: 100%;
  //  box-shadow: 20px;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  z-index: 999;
  // box-shadow: #000;
  // background: rgba(0, 0, 0, 0.5);
   }
  
   .logo img{
    width: 77%;
    padding: 18px;
    margin-top: 6px;
    // background: lawngreen;
   }
   #head-ul-li{
    width: 100%;
    display: flex; 

    // padding-right: 20%;
    // margin-right: 21%;
   }
   .head-a-e-o-r-g-c{
    // padding-right: 0%;
    // background: red;
    width: 100%;
    font-weight: 700;
    // justify-content: space-evenly;  
    display: flex;
    margin-top: 50px;
    gap: 40px;
    font-size: 15px;
    // font-size: 110%;
        list-style: none;
   }
   .head-a-e-o-r-g-c li a{
    color: white;
   }
   .head-a-e-o-r-g-c a{
    text-decoration: none;
   
  }

  .fa-solid{
    // background: yellow;
    // margin-left: 60px;
       color: plum;
   }
  
   #search-bar{
    // background: orange;
    width: 100%;
    margin-left: 8%;
    font-size: 18px;
    margin-top: 50px;
    color: white;
     }

     .head-a-e-o-r-g-c li a:hover{
      border-bottom: 2px solid burlywood;
      color: burlywood;

     }
    //  ==================================================================================================

    
  // .dropdown{
  //   // overflow-x: hidden;
  //   overflow-y: hidden;
  // }
  
  .btnabout{
    margin-top: 2px;
    // width: 1000%;
    border:none;
    // display: flex;
    font-size:15px;
    cursor:pointer;
    transition: 1s ease;
  }
  
  .btnabout:hover{
    background-color:#000;
    // width: 1000%;
    // transition: 1s ease;
  }
  
  .dropdown-options {
    width: 122%;
    margin-right: 12%;
    display: none;
   
  }
  // dropdown-option
  
.dropdown-start{
  margin-top: 10%;
  padding-top: 10%;
  // width: 120%;
  // display: flex;
  display: grid;
  grid-template-columns: repeat(4,250px);
  overflow: auto;
  background-color:rgb(73, 11, 131);
  border-radius:5px;
  box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.4);

}

  .dropdown:hover .dropdown-options {
    display: block;
  }
  
  .dropdown-options a {
    // display: none;
    display: block;
    color: #000000;
    padding: 5px;
    text-decoration: none;
    padding:20px 40px;
  }

// .dropdown-start a:hover{
//   width: 10%;
//   // display: none;
//   color: aqua;
//   // margin-left: 9%;
 
//   }

  // .dropdown-opt a:hover {
  //   color: red;
  //   // display: flex;
  //   background-color: #ca0a0a;
  //   border-radius:5px;
  // }




// ===================================================================checkbox start=======================================

header .menu{
  font-size: 2.5em;
  display: none;
}
#check1{
  display: none;
}


    //  ================================================header end ================================================

    // ============================================================div1 start======================================================
// #video1{
//   z-index: 999999;
// }
#div1text1{
  margin-left: 8%;
  border: 2px solid rgb(19, 18, 18);
}
h1{
  font-size: 450%;
  margin-top: -39%;
  // font-style: italic;
  font-weight: 700;
  color: rgba(245, 242, 80, 0.977);
}
p{
  color: white;
  // text-align: center;

}
.btn1{
  width: 20%;
  height: 7vh;
  // z-index: 99;
  position: relative;
  margin-top: 30px;
  background: yellow;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}
.btn1 p{
  color: rgb(73, 11, 128);
  text-align: center;
  padding: 9px;
  font-weight: 600;
  font-size: 19px;
}

// ====================================================================div1 end======================================================
 


#div2{
  width: 100%;

}
.div2-h{
  padding-top: 65px;
  padding-bottom: 20px;
  color: rgb(73, 11, 128);
  font-size: 330%;
  // justify-content: center;
  text-align: center;
}
.div2text1{
  color: black;
  font-size: 16px;
  text-align: center;
}
.div2text2{
  color: black;
  padding-top: 4px;
  text-align: center;
  padding-bottom: 50px;
}
// ========================================div3 start ====================================

#div3scroll1{
  width: 100%;
  // height: 30vh;
  display: grid;
  grid-template-columns: repeat(4, 290px);
  justify-content: space-evenly;
  // padding-bottom: 20%; 

}
.scroll1{
  width: 100%;
  height: 65vh;
  // border: 2px solid black;
border-radius: 20px;
  // padding-bottom: 200%;
  margin-bottom: 30%;
  background: rgb(84, 13, 146);
  text-align: center;

}
.scroll1 img{
  width: 100%;
  height: 35vh;
  padding: 20px;
  // position: relative;
  margin-top: 20px;
  border-radius: 20px;
}
.scroll1 h2{
  width: 100%;
  font-size: 20px;
  margin-top: -8px;
}
.scroll1 P{
  width: 140PX;
  border-radius: 20PX;
  background: burlywood;
 color: rgb(73, 11, 128);
 font-size: 12PX;
  margin-top: 15PX;
  margin-left: 20PX;
}
.scroll1:hover{
  transform: scale(1.1);
  transition: 1s;
}
// ==========================================================div 3 end =================================

#div4{
  background: rgb(73, 11, 128);
  width: 100%;
  display: flex;
}
#div4 img{
  width: 50%;
}
.div4-h{
  width: 90%;
  color: white;
  margin-left: 1%;
  padding: 10px;
  margin-top: 60px;
  // text-align: center;
  font-size: xx-large;
}
.div4-p{
  width: 1000px;
  color: black;
  margin-top: 25%;
  // margin-right: 7%;
  // text-decoration: solid;
  font-size: 20px;
  // text-align: center;

}
#div4 img:hover{
  transform: scale(0.9);

}
// ================================

#div5{
  background: rgb(73, 11, 128);
  width: 100%;
  display: flex;
  // display: grid;
  // grid-template-columns: repeat(2, 500px);

}
#div5 img{
  width: 50%;
  margin-top: 4px;
}
.div5-h{
  width: 100%;
  font-size: xx-large;
  text-align: center;
  margin-top: 10%;
}
.div5-p{
  width: 100%;
  font-size: small;
  margin-top: 15%;
}

#div5 img:hover{
  transform: scale(0.9);
}




// =====================================================div5 end =============================================
#div6bk{
  width: 100%;
}
#div6bk img{
  width: 100%;
}
.div6bk-h{
  width: 100%;
  // margin-left: 45%;
  text-align: center;
  margin-top: -35%;
  font-size: 20px;
}
.div6bk-h2{
  width: 100%;
  font-size: 45px;
  margin-top: 4%;
  // margin-top: -2%;
  text-align: center;

}
.div6bk-p{
  width: 100%;
font-size: 18px;
margin-top: 3%;
text-align: center;

}
.div6btn{
  width: 180px;
  text-align: center;
  margin-top: 6%;
  margin-left: 42%;
  background: gold;
  border-radius: 20px;
  font-weight: 700;
  padding: 5px;
  border: 2px solid beige;
  font-size: 20px;
  position: relative;
}
// ===================================div 6 end =========================================
#div7{
  width: 100%;
  height: 80vh;
  display: flex;
  background:rgb(75, 10, 131);
}
#div7 img{
  width: 30%;
  margin-top: 2%;
  margin-left: 7%;
}
#div7 .div7-2{
  width: 100%;
  margin-left: 46%;
  margin-top: 16%;
}
.div7p1text{
  text-align: center;
  // margin-right: 5%;
  margin-left: 5%;
  font-size: 40px;
  font-weight: 700;
  margin-top: -28%;
}


.div7p2text{
  text-align: center;
  margin-left: 5%;
  margin-top: 40px;
}
.div7p3-btn{
  width: 10%;
  margin-left: 45%;
  text-align: center;
  background: rgb(248, 180, 32);
  margin-top: 60px;
  font-size: x-large;
  border-radius: 20px;
  padding: 5px;
  font-weight: 700;
  margin-bottom: 20px;
  // margin-left: 60px;
}
// ===================================================
#div8v1{
  width: 100%;

}
#div8v1 video{
  width: 100%;
}

// ================================================DIV 8 END====================================



#div9text2{
  width: 100%;
  // height: 9vh;

}
#div9text2 img{
  width: 10%;
  height: 20vh;
  margin-top: -10%;
  // margin-bottom: 0px;
  margin-left: 15%;

}

.div9htext{
  padding-top: 65px;
  padding-bottom: 20px;
  font-size: 330%;
  // justify-content: center;
  text-align: center;
}
.div9text2{
  color: black;
  font-size: 16px;
  text-align: center;
}
.div9text2{
  padding-top: 4px;
  text-align: center;
  padding-bottom: 50px;
}


#div9scroll2{
  width: 100%;
  height: 20vh;
  display: grid;
  margin-top: 40px;
  grid-template-columns: repeat(4, 290px);
  justify-content: space-evenly;

}
.scroll2{
  width: 100%;
  height: 45vh;
  // border: 2px solid black;
  border-radius: 22px;
  // margin-bottom: 30%;
  background: rgb(73, 11, 131);
  text-align: center;

}
.scroll2 img{
  width: 100%;
  height: 100%;
  margin-top: 0;
  padding: 0;
  border-radius: 20px;
}

.scroll2:hover{
  transform: scale(1.1);
  transition: 0.8s;
}
// =============================================================================================

#div10{
  width: 100%;
}
#div10 img{
  width: 30%;

  margin-left: 70%;
  margin-top: 18%;
}
// ========================

#div11img-1{
  width: 100%;
  // border-radius: 30%;
  display: grid;
  // border: 2px solid black;
  grid-template-columns: repeat(2, 50%);
  // margin: 10px;
  padding: 20px;
}
#div11img-1 img{
  border-radius: 4%;
  // border: 2px solid purple;
  // border-radius: 20px;
  margin-top: -40%;
}

.div11img-2{
  margin-top: 45px;
}
#div11img-1 img:hover{
  transform: scale(1.1);
  transition: 1s;
}
// =========================================================================================================


#div13img-1{
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 45%);
  // margin: 10px;
  padding: 20px;
  gap: 5%;
  margin-top: 18%;
}
#div13img-1 img{
  width: 100%;
  border-radius: 4%;
  margin-top: -40%;
}
// #div13img-1 img:hover{
//   transform: scale(1.5);
// }
.div13img-2{
  width: 100%;
  margin-top: 45px;
}
// .div13img-2:hover{
//   transform: scale(0.8);
// }
// ========================================

#div14{
  width: 100%;
}
.div14-h2{
  width: 100%;
    padding-top: 65px;
    padding-bottom: 20px;
    color: black;
    // color: yellow;
    font-size: 330%;
    // justify-content: center;
    text-align: center;
}
.div14-p{
  color: #000;
  text-align: center;
  // margin-bottom: 5%;
}
// ==========================================







// =================================================


#div16htext{
width: 100%;
}
.div16htext{
  padding-top: 65px;
  padding-bottom: 20px;
  // color: yellow;
  font-size: 330%;
  // justify-content: center;
  text-align: center;
}
// ==========================================


#div16scroll{
  width: 100%;
  // height: 30vh;
  display: grid;
  grid-template-columns: repeat(4, 290px);
  justify-content: space-evenly;
  // padding-bottom: 20%; 

}
.scroll-3{
  width: 100%;
  height: 65vh;
  // border: 2px solid black;
border-radius: 20px;
  // padding-bottom: 200%;
  margin-bottom: 30%;
  background: rgb(73, 11, 131);
  text-align: center;

}
.scroll-3 img{
  width: 100%;
  height: 35vh;
  // padding: 20px;
  // position: relative;
  // margin-top: 20px;
  border-radius: 20px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.div16scroll-h2{
  width: 100%;
  font-size: 20px;
  margin-top: 15px;
}
.scroll-3:hover{
  transform: scale(1.1);
  transition: 1s;
}

// ===================================================================

#div17{
  width: 100%;
  height: 50vh;
  background: rgb(73, 11, 131);
  // margin-bottom: 10%;
}
#div17 img{
  width: 20%;
  margin-left: 75%;
  // margin-top: 20%;
}
// ========================================================================17 end=================================

#div18{
  width: 100%;
}
#div18 img{
  width: 30%;
  margin-top: 40px;
  margin-bottom: 45px;
}
// .hrline{
//   color: black;
//   background: red;
// }
// ======================================div18 end==========

// =================================================icons start=========================================
// #div18 i{
//   // margin-top: 60%;
//   // display: flex;
//   background: indigo;

// }

#div19{
  // border: 1px solid black;
  width: 100%;
  display: flex;
  justify-content: end;
  gap: 50px;
  margin-top: -100px;
  // display: grid;
  // grid-template-columns: repeat(3,100px);
  // background: yellow;
  font-size: 30px;
  // margin-top: -8%;
  // margin-left: 90%;
  margin-bottom: 7%;
}



// =================================================footer start=========================

#foot{
  width: 100%;
  display: flex;
  // display: grid;
  // grid-template-columns: repeat(8,120%);
}
.footp{
  width: 100%;
  margin-top: 22px;
  color:black
  // padding: 20px;
}

.foot-li{
  width: 100%;
  display: flex;
  margin-top: 5px;
  padding: 20px;

}
.foot-li-stmt{
  width: 85px;
  margin-left: 50px;
  list-style: none;
  font-size: 62%;
}
.foot-li-stmt a{
  width: 100%;
  color: rgb(73, 11, 128);
  text-decoration: none;
}
.foot-li-stmt a:hover{
  border-bottom: 2px solid rgb(177, 41, 177);
}
// =============================================================
#foot-li-1{
  padding: 20px;
  width: 100%;
  display: flex;
}
.foot-li-stmt-2{
  // width: 100%;
  list-style: none;
  margin-left: 20px;
  // justify-content: space-evenly;

}
.foot-li-stmt-2 a{
  color: rgb(73, 11, 128);
  text-decoration: none;
  font-size: 62%;
}
.foot-li-stmt-2 a:hover{
  border-bottom: 2px solid rgb(177, 41, 177);
}
// ========================================================footer end===============================

@media(max-width:431px){
  header ul{
    position: fixed;
    top: 100px;
    right: -100%;
    background: rgba(0,0,0,0.5);
    height: calc(100vh - 100px);
    width: 50%;
    flex-direction: column;
    align-items: center;
    transition: right 0.5s linear;

}

  header .menu{
    display: block;
    width: 100px;
    text-align: center;

}
#check1:checked ~ ul{
    right: 0;
}










.foot{
  display: block;
  width: 100%;
  text-align: center;
  justify-content: center;
}
  
}